In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_chemicals = pd.read_csv("chemicals.csv")
data_drought = pd.read_csv("drought.csv")
data_education = pd.read_csv("education.csv")

## Pollution index by county

In [3]:
data_chemicals['greater_than_MCL'] = (data_chemicals['contaminant_level'] == "Greater than MCL") * 1.
groups = data_chemicals.groupby("cws_name")[['greater_than_MCL', 'fips', "pop_served"]].mean()
groups['index_with_weights'] = groups['greater_than_MCL']*groups['pop_served']
chemicals_index = groups.groupby("fips")['index_with_weights'].sum() / groups.groupby("fips")['pop_served'].sum()

In [4]:
chemicals_index

fips
6001    0.0
dtype: float64

## Drought index by county

In [5]:
data_drought['valid_start'] = pd.to_datetime(data_drought['valid_start'])
data_drought['valid_end'] = pd.to_datetime(data_drought['valid_end'])

In [6]:
data_drought['event_duration_in_days'] = (data_drought['valid_end'] - data_drought['valid_start']).dt.days

In [7]:
data_drought['event_importance_with_weight'] = data_drought['event_duration_in_days'] * 0. + (data_drought['d0']*1. + data_drought['d1']*2. + data_drought['d2']*3. + data_drought['d3']*4. + data_drought['d4']*5.) / 100.
groups = data_drought.groupby("fips")
drought_index = groups['event_importance_with_weight'].sum() / groups['event_duration_in_days'].sum()

In [8]:
data_drought

,fips,county,state,none,d0,d1,d2,d3,d4,valid_start,valid_end,event_duration_in_days,event_importance_with_weight
0,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-12-26,2018-01-01,6,0.0
1,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-12-19,2017-12-25,6,0.0
2,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-12-12,2017-12-18,6,0.0
3,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-12-05,2017-12-11,6,0.0
4,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-11-28,2017-12-04,6,0.0
5,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-11-21,2017-11-27,6,0.0
6,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-11-14,2017-11-20,6,0.0
7,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-11-07,2017-11-13,6,0.0
8,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-10-31,2017-11-06,6,0.0
9,2013,Aleutians East Borough,AK,100,0,0,0,0,0,2017-10-24,2017-10-30,6,0.0

In [9]:
drought_index

fips
2013    0.0
dtype: float64

## Education index by county

In [10]:
data_education

,fips,state,county,year,less_than_hs,hs_diploma,some_college_or_associates,college_bachelors_or_higher,pct_less_than_hs,pct_hs_diploma,pct_college_or_associates,pct_college_bachelors_or_higher
0,0,US,United States,1970,52373312,34158051,11650730,11717266,47.7,31.1,10.6,10.7
1,1000,AL,Alabama,1970,1062306,468269,136287,141936,58.7,25.9,7.5,7.8
2,1001,AL,Autauga County,1970,6611,3757,933,767,54.8,31.1,7.7,6.4
3,1003,AL,Baldwin County,1970,18726,8426,2334,2038,59.4,26.7,7.4,6.5
4,1005,AL,Barbour County,1970,8120,2242,581,861,68.8,19.0,4.9,7.3
5,1007,AL,Bibb County,1970,5272,1402,238,302,73.1,19.4,3.3,4.2
6,1009,AL,Blount County,1970,10677,3440,626,404,70.5,22.7,4.1,2.7
7,1011,AL,Bullock County,1970,4245,958,305,314,72.9,16.5,5.2,5.4
8,1013,AL,Butler County,1970,8353,2459,499,541,70.5,20.7,4.2,4.6
9,1015,AL,Calhoun County,1970,30535,13804,3823,3921,58.6,26.5,7.3,7.5

In [13]:
data_education['avg_higher_education_years'] = (data_education['pct_less_than_hs'] * (-3) + data_education['pct_hs_diploma'] * 0. + data_education['pct_college_or_associates']*3. + data_education['pct_college_bachelors_or_higher']*4.)/100.

In [14]:
data_education

,fips,state,county,year,less_than_hs,hs_diploma,some_college_or_associates,college_bachelors_or_higher,pct_less_than_hs,pct_hs_diploma,pct_college_or_associates,pct_college_bachelors_or_higher,avg_higher_education_years
0,0,US,United States,1970,52373312,34158051,11650730,11717266,47.7,31.1,10.6,10.7,-0.685
1,1000,AL,Alabama,1970,1062306,468269,136287,141936,58.7,25.9,7.5,7.8,-1.224
2,1001,AL,Autauga County,1970,6611,3757,933,767,54.8,31.1,7.7,6.4,-1.157
3,1003,AL,Baldwin County,1970,18726,8426,2334,2038,59.4,26.7,7.4,6.5,-1.300
4,1005,AL,Barbour County,1970,8120,2242,581,861,68.8,19.0,4.9,7.3,-1.625
5,1007,AL,Bibb County,1970,5272,1402,238,302,73.1,19.4,3.3,4.2,-1.926
6,1009,AL,Blount County,1970,10677,3440,626,404,70.5,22.7,4.1,2.7,-1.884
7,1011,AL,Bullock County,1970,4245,958,305,314,72.9,16.5,5.2,5.4,-1.815
8,1013,AL,Butler County,1970,8353,2459,499,541,70.5,20.7,4.2,4.6,-1.805
9,1015,AL,Calhoun County,1970,30535,13804,3823,3921,58.6,26.5,7.3,7.5,-1.239